/* Стилі для мого сайту */
body {
		font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
